<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../../../resources/static/css/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

<title>Home</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	
	  <div class="container-fluid">
	    <!-- Links -->
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="home?tipo=calcio">Calcio</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="home?tipo=pallavolo">Pallavolo</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="home?tipo=basket">Basket</a>
	      </li>
	    </ul>
	  </div>
	  
	  <div class="container-fluid">
	  	<a class="navbar-brand" href="home" style="position:fixed; right:0">MatchDay</a>
	  </div>
	
	</nav>
	
	
	<div class="container">
		<div class="row">
	    	<div class="col-*-4">
	    	</div>
	    	<div class="col-*-4">
	    		<br>
	    		<div class="card" th:each="evento : ${listaEventi}">
				  <div class="card-body">
				    <h4 class="card-title" th:text=${evento.squadraCasa}></h4>
				    <h4 class="card-title" th:text=${evento.squadraOspite}></h4>
				    <h4 class="card-title" th:text=${evento.data}></h4>
				    <p class="card-text">Some example text. Some example text.</p>
				    <a href="#" class="card-link">Card link</a>
				  </div>
				</div>
	    	</div>
	    	<div class="col-*-4">
	    	</div>
	 	</div>
		<!--  <table>
			<tr>
				<th>Evento</th>
			</tr>
			<th:block th:each="evento : ${listaEventi}">
				<tr>
		            <td th:text=${evento.squadraCasa}>1</td>
		            <td><a href="#" th:text=${evento.squadraOspite}>Title ...</a></td>
		            <td th:text=${evento.data}>Text ...</td>
	            </tr>
	         </th:block>
		</table>-->
		
	</div>
</body>
</html>