<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="../css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="../css/lib/simplebar.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link rel="stylesheet" href="../css/main.css" />

<!-- Latest compiled JavaScript -->

<title>Area Personale Utente</title>
</head>

<body>
<!-- Barra Superiore -->
<header class="header-primary" style="height: 400;" >
 <div class="container">
	    <div class="row g-0 align-items-center">
	      <div class="col-5 col-lg-2">
	        <!-- Logo  -->
	        <a href="home" class="logo">
	          MatchDay
	        </a>
		  </div>
		  <div class="col-7 col-lg-10">
		  
		<div class="dropdown">
		  <nav class="primary-menu-container">
			  	

		  <!-- Bottone Deposita -->
			  <a class="nav-link" style=color:white data-bs-toggle="dropdown" href="#" id="dropdownMenuButton1">Deposita</a>
			  
			  <!-- UNICO FORM PER EVITARE BUG -->
			
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  <li>
				  	<a class="dropdown-item" href="#">
				  		<input id="numDep" placeholder = "Inserire cifra Deposito">
				  	</a>
				  </li>
				  
	         	   <!-- IL FORMACTION PER DEPOSITARE E' QUI SOTTO -->
	         	   <li><a class="dropdown-item" href="#"><input class=minZero type="submit" name="submit" onclick="deposita()"></a></li>
	         	 
			  </ul>
			  
				
		
 <!-- Bottone Preleva -->
			  <a class="nav-link" style=color:white data-bs-toggle="dropdown" href="#" id="dropdownMenuButton2" >Preleva</a>
			  <ul class="dropdown-menu 2"  aria-labelledby="dropdownMenuButton2">
			  
			  <!-- QUI SOTTO INSERENDO TH:MAX=${UTENTE.SALDO} SI OTTIENE POPUP, D'ALTRO CANTO SI BUGGA E BISOGNA REFRESHARE PER POTER NUOVAMENTE DEP E PRE -->
				  <li><a class="dropdown-item" href="#">
				  <input id="numPre"  placeholder = "Inserire cifra Prelievo">
				  </a></li>				  
			<!-- IL FORMACTION PER PRELEVARE E' QUI SOTTO -->
	         	  <li><a class="dropdown-item" href="#"><input type="submit" name="submit" value="Preleva" onclick="preleva()"></a></li>
	         	  
			  </ul>
			
			
			
			<!-- Apre e chiude schedine -->
			  <a class="nav-link sport" style=color:white onclick="myFunction2()" href="#">Storico Schedine</a>
			  
			  <ul class="list list--row primary-menu justify-content-end align-items-center">
		         <li>
	              <div class="custom-dropdown">
	                <div class="custom-dropdown__user" data-set="custom-dropdown">
	                  <img src="/images/user_icon.png" alt="image" class="custom-dropdown__user-img">
	                </div>
	                <div class="custom-dropdown__content custom-dropdown__content-end">
	                  <div class="custom-dropdown__body" data-simplebar>
	                    <ul class="list list--column custom-dropdown__list">
	                      <li>
	                        <a href="logout" class="custom-dropdown__body-link">
	                          <span class="custom-dropdown__body-text">
	                            Logout
	                          </span>
	                        </a>
	                      </li>
	                    </ul>
	                  </div>
	                </div>
	              </div>
	            </li>
	          </ul>
		  </nav>
		  </div>
	

</div></div></div></header>

<!-- tabella INFO -->
<div class="profiloUtente section" >
	<div class="card mx-auto" style="width:50%;" id="profiloUtente section">
		<div class="card-body">
			<table class="table" >
			    <tr>
			      <th style="width:50%;" scope="col">Nome</th>
			      <td th:text=${utente.nome}></td>
			    </tr>
			    <tr >
			      <th style="width:50%;" scope="col">Cognome</th>
			      <td th:text=${utente.cognome}></td>
			    </tr>
			    <tr>
			      <th style="width:50%;" scope="col">Email</th>
			      <td th:text=${utente.email}></td>
			    </tr>
			    <tr>
			      <th scope="col">Saldo</th>
			      <td th:text=${utente.saldo}></td>
				</tr>
			</table>
		</div>
	</div>

<!-- Card delle schedine -->
	<br>
	<div class="container scroll" id="myDIV2">
		<div class="row">
			<div class="col-*-4">
				<div class="container" th:each="schedina,iter  : ${schedinaList}">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title" th:inline="text">
								[[${iter.count}]] <small>° SCHEDINA</small>
							</h3>
							<h6 class="card-title" th:inline="text">
								<small>Importo giocato:</small> [[${schedina.importo}]]
							</h6>
							<h6 class="card-title" th:inline="text">
							<small id="esito"> Esito:</small> [[${schedina.esito}]]
						</h6>
							<table class="table" id="tableDettagli">
						  <thead>
						    <tr>
						      <th scope="col">N°</th>
						      <th scope="col">Squadra Casa</th>
						      <th scope="col">Squadra Osptite</th>
						      <th scope="col">Data</th>
						      <th scope="col">Tipologia</th>
						      <th scope="col">Giocata</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="card-title" th:each="evento,iter  : ${eventiPerSchedinaList.get(schedina)}">
						      <th scope="row">[[${iter.count}]]</th>
						      <td>[[${evento.squadraCasa}]]</td>
						      <td>[[${evento.squadraOspite}]]</td>
						      <td>[[${evento.data}]]</td>
						      <td>[[${evento.tipo}]]</td>
						      <td>[[${schedinaEventiPerSchedinaList.get(schedina)[iter.index].giocata}]]</td>
						    </tr>
						     
						    </tbody>
						   
						    </table>
						  
							
						</div>
							 <div class="card-body">
					 <h6 class="card-title" th:inline="text">
							Potenziale Vincita: [[${vincitaList[iter.index]}]]
					 </h6>
					 </div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div></div>
	




<!-- Funzioni comparsa scomparsa di info e schedine -->
	<script>
	
function deposita(){
		
		var importo = document.getElementById("numDep").value;
		
		if(!isNaN(importo) && importo>0){
			
			var url = 'http://localhost:8080/deposita'
			var data = importo;
			
			$.ajax({
					type:"POST",
					url: url,
					contentType: "application/json",
                    data: data,
                    success:function(msg){
                    	
                    	if(msg == "Deposito avvenuto con successo"){
                    		alert(msg);
                        	location.reload();
                    	}
          
                    }
				});
		}
		else{
			alert("Importo non valido");
		}
		

	}
	
function preleva(){
	
	var importo = document.getElementById("numPre").value;
	
	if(!isNaN(importo) && importo>0){
		
		var url = 'http://localhost:8080/preleva'
		var data = importo;
		
		$.ajax({
				type:"POST",
				url: url,
				contentType: "application/json",
                data: data,
                success:function(msg){
                	
                	if(msg == "Prelievo avvenuto con successo"){
                		alert(msg);
                    	location.reload();
                	} else if (msg == "Saldo insufficiente"){
                		alert(msg);
                    	location.reload();
                	}
      
                }
			});
	}
	else{
		alert("Importo non valido");

	}
	

}
	
	
document.getElementById('myDIV2').style.display = 'none';
	
	
	
	//SUPERFLUO SICCOME HO RIMOSSO TASTO AREA PERSONALE
		function myFunction() {
			var x = document.getElementById("profiloUtente section");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
		function myFunction2() {
			var x = document.getElementById("myDIV2");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
		
		
document.getElementById("numDep").addEventListener("numDep",
				function func(){
		var userInput = document.getElementById("numDep").value;
		if(typeof userInput == "number"){
		  console.log("Is a number");
		}else{
		  console.log("Is not a number");
		}},true);

	</script>
		 


<!-- jQuery library -->
<script src="../js/jquery-3.6.0.min.js"></script>
<!-- bootstrap 5 js -->
<script src="../js/bootstrap.bundle.min.js"></script>
<!-- Simplebar  -->
<script src="../js/simplebar.min.js"></script>

<!-- main js -->
<script src="../js/app.js"></script>
</body> 
</html>
